@model IEnumerable<Schichtplaner.Jaws_Service.Schicht>

@{
    ViewBag.Title = "Schichtplaner";
}

@foreach (var item in ViewBag.schichtenListe) {
    foreach(var schicht in item)
    {
        <p>@schicht.Startzeit_soll</p>
    }
 
}

</table>
