@model IEnumerable<DAL.Lieferant>

@{
    ViewBag.Title = "Index";
}
<div class="row">

        <div class="col-sm-1 col-md-2 col-lg-2">
            <a href="@Url.Action("Create")">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <i class="material-icons text-success">add_circle</i>
                    </h5>
                </div>
            </a>
</div>


    @foreach (var item in Model)
    {
            <div class="col-sm-6 col-md-4 col-lg-2">
                <a href="@Url.Action("Details", new { id=item.Id })">
                    <div class="card card-block">
                        <h5 class="m-b-0 v-align-middle text-overflow">
                            <span>@Html.DisplayFor(modelItem => item.Name)</span>
                        </h5>
                    </div>
                </a>
</div>


    }
</div>