<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1337/Jaws_Service" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService1" contract="JawsServiceReference.IService1"
                name="WSHttpBinding_IService1">
                <identity>
                    <userPrincipalName value="DESKTOP-6CR4H73\peter" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <connectionStrings>
    <add name="DataContainer" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\VerteilteSysteme\Jaws\DB\jaws-db.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>