@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="card-block">
        <h5 class="m-b-0 v-align-middle text-overflow">
            <span>Schichtplan</span>
        </h5>
        <div class="fullcalendar"></div>
    </div>
</div>